* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-size: 1.2vw;
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

main{
    background-color: hsl(0, 0%, 98%);
    margin: 7em 4em;
    padding: 4em;
    box-shadow: 0 1em 1em 1em hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-bottom: 2em;
    width: 27em;
    font-size: 1em;
}

h1,h3{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.light-font{
    font-weight: 200;
}

.cards p{
    font-size: 0.8em;
    margin-top: 1em;
}

#tagline{
    font-size: 0.79em;
}
    
.cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container{
    width: 17em;
    margin: 0.7em;
}

.cards{
    background-color: hsl(0, 0%, 99%);
    font-size: 0.8em;
    border-radius: 0.3em;
    box-shadow: 0 1em 1em 0.1em hsl(0, 0%, 90%);
    text-align: left;
    height: 11em;
    padding: 2em;
}

#card-1{
    border-top: 0.3em solid hsl(180, 62%, 55%);
}

#card-2{
    margin-bottom: 1.8em;
    border-top: 0.3em solid hsl(0, 78%, 62%);
}

#card-3{
    border-top: 0.3em solid hsl(34, 97%, 64%);
}

#card-4{
    border-top: 0.3em solid hsl(212, 86%, 64%);
}

img{
    width: 4em;
    height: auto;
    position: relative;
    left: 77%;
    top: 2em;
}

@media all and (max-width: 1200px){
    body{
        font-size: 1.5vw;
    }
    
    main{
        margin: 2em 0;
    }
}

@media all and (max-width: 768px){
    body{
        font-size: 5vw;
    }

    main{
        margin: 0;
        padding: 5em 1em;
    }

    .heading{
        margin-bottom: 5em;
        width: 100%;
        font-size: 0.7em;
    }
    
    .cards-container{
        display: block;
    }

    .inner-container{
        width: 16em;
    }

    .cards, #card-2{
        margin-bottom: 1.5em;
    }

    .cards p{
        font-size: 0.9em;
    }

    #tagline{
        font-size: 1.2em;
    }

}